  /* CSS layout */
  *{
	box-sizing: border-box;
}
  body {
	margin: 0;
	padding: 0;
	background-color:gray;
}

a {
	text-decoration:none;
}
div {
	position:static;
	border: none;
	float:none;
}

#masthead {
width:100%;
height:160px;
background-color:silver;
float:inherit;

background-image: url("A10_banner.jpg");
background-size: contain;
}

#top_nav {
padding: 2px 2px 2px 2px;
float:none;
/* width:896px; */
height:27px;
background-color:#373537;
color:#E1E9E1;
display: flex;
}

#top_nav_box {
padding: 2px;
float:none;
/* width:892px; */
height:23px;
flex:auto;
}


#container {
	float:none;
	/* width: 900px; */
	background-color:#99CCFF;

	display: flex;
	flex-wrap: wrap;
}

#left_col {
	float:left;
	margin:0px;
	padding: 0px;
	background-color:#475547;
	min-width:fit-content;
	flex: 3;
	color:#E1E9E1;
}

#right_col {
	float: left;
	margin: 0px;
	padding: 0px;
	/* width: 180px; */
	background-color:#475547;

	color:#E1E9E1;
	flex: 2;
}

#page_content {
	float:left;
	margin:0px;
	width: 520px;
	min-height:500px;
	background-color: #262626;
	padding:10px;

	flex: 10;
	color:#D8D8D8;
}

#footer {
	float:none;
	/* padding: 2px; */
	/* width:896px;	 */
	height:23px;

	border-top-style: solid;
	border-top-color: #3F453F;
	border-top-width: 2px;
}

.footer_box {
padding: 2px 10px;
float:none;
/* width:892px; */
height:23px;
background-color:#373537;
}

.link_foot>a {
	float:right;
	height: 20px;
	margin-left:5px;
	text-decoration: none;
	color:lightgray;
}

.link_nav {
float:left;
padding:3px 2px 0px 2px;
height: 20px;
margin-left:5px;
}

.link_nav a{
color: #E1E9E1;
padding: 0px 10px 0px 0px;
}
.link_nav a:hover{
	color:#87CEEB;
	background-color: #474547;
	border-radius: 20px;
	padding: 0px 5px 0px 5px;
	display: inline-block;
	transform:scale(1.1);
}

.link {
padding-left:10px;
/* height:20px; */
/* margin-bottom:2px; */
/* background-color:#99CFFF; */

}

.link_selected {
padding-left:8px;
/* height:20px; */
/* margin:2px; */
/* background-color:#99CFFF; */
font-size:1.2em;
font-weight:600;
}
.sub_link, .sub_sub_link, .link, .link_selected{
	background-color: #374537;
	border-radius: 20px;
	padding: 3px 0px 3px 10px;
	margin: 2px 0px 2px 0px;
	/* pointer-events: none; */
}
.module a{
	padding: 0px 10px 0px 0px; 
	color:#E1E9E1;
	/* pointer-events: auto; */
}
.module a:hover{
	/* font-size: 110%; */
	color:#D1EEFE;
	background-color: #405040;
	border-radius: 20px;
	padding: 0px 5px 0px 5px; 
	display: inline-block;
	transform:scale(1.1);
}
/* .sub_link:hover, .sub_sub_link:hover, .link:hover, .link_selected:hover{
	padding: 3px 0px 4px 15px;
	transform: rotate(1deg);
} */

.sub_link {
margin-left:15px;
/* height:20px; */
font-size:0.9em;
/* margin-bottom:2px; */
/* background-color:#99CFFF; */


}

.sub_sub_link {
margin-left:30px;
/* height:20px; */
font-size:0.8em;
/* margin-bottom:2px; */
/* background-color:#99CFFF; */

}


.module_title {
font-weight:bold;
font-size:medium;
margin: 5px 0px 0px 0px;
/* padding-left:20px; */
/* height:20px; */
/* margin-left: 20px; */
/* margin-top: 15px; */
/* margin-bottom: 15px; */
/* background-color:#99CFFF; */

background-color:#374537;
text-align: center;
}

.module{
	margin: 0px 2px 7px 2px;
}



.path {
	padding: 3px 3px 0px 1px;
	width:200px;
	height:20px;
	float:left;
	font-size:0.8em;
}

div.article {
	
}

div.article_title {
	font: italic normal 1.4em georgia, sans-serif;
	padding-bottom: 4px;
	letter-spacing: 1px; 
	margin-bottom: 0; 
		
	border-bottom-style: solid;
	border-bottom-width: thin; 
}

div.article_summary {
	padding: 8px;
	/* color:#303032;	 */
	border-bottom-style:solid;
	border-bottom-width:1px;
}

div.article_summary div {
font: italic normal 1.2em georgia, sans-serif;
/* color:#303032;	 */
padding:  5px 10px 6px 15px;
}

div.article_content {
	margin: 10px;
	
}

p.p1 {
font: italic normal 1.1em georgia, sans-serif;
/* color:#303032;	 */
padding:  5px 10px 6px 15px;
}

p.p2 {
font: normal 0.9em georgia, sans-serif;
/* color:#303032;	 */
padding:  5px 10px 6px 15px;	
}

p.p3 {
	
	
}

.czysc{
	clear:both;
	width: 0px;
	height:0px;	
}
.gallery_photos img{
	width: 160px;
	height: 150px;
	border-radius: 5px;
	z-index: 3;
}
.gallery_photos img:hover{
	border-style: solid;
	border-width: 2px;
	border-color: red;
	transform: scale(1.1);
	transform: rotate(2deg);
	transform: translate();
}

.gallery_photoCaption{
	text-align: center;
	color:#D8D8D8;
	margin-top: 40px;
}
#gallery_shownPhotoimg{
	width: 100%;
	z-index: 0;
}




  .fate-scale-out {
	-webkit-animation: fate-scale-out 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: fate-scale-out 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


  /* ----------------------------------------------
 * Generated by Animista on 2024-4-2 16:12:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fate-scale-out
 * ----------------------------------------
 */
@-webkit-keyframes fate-scale-out {
	0% {
	  -webkit-transform: scale(1.0);
			  transform: scale(1.5);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1.5);
			  transform: scale(3.0);
	  opacity: 1;
	}
  }
  @keyframes fate-scale-out {
	0% {
	  -webkit-transform: scale(1.0) translate(0,0);
			  transform: scale(1.0) translate(0,0);
			  opacity: 1;
	
	}
	100% {
		from{
			-webkit-transform: scale(1.5) translate(0,0);
					transform: scale(1.5) translate(0,0);
			opacity: 1;
		}
		to{
			
			-webkit-transform: scale(1.5) translate(var(--offset-x), var(--offset-y));
					transform: scale(1.5) translate(var(--offset-x), var(--offset-y));
			opacity: 1;
		}
	}
  }
  




  .scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-3 17:10:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-center {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-ver-center {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  opacity: 1;
	}
  }
  








  .roll-in-blurred-top {
	-webkit-animation: roll-in-blurred-top 0.6s linear both;
	        animation: roll-in-blurred-top 0.6s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-3 17:24:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-top {
	0% {
	  -webkit-transform: translateY(-800px) rotate(-720deg) scale(0.02);
			  transform: translateY(-800px) rotate(-720deg) scale(0.02);
	  -webkit-filter: blur(50px);
			  filter: blur(50px);
	  opacity: 0;
	}
	50% {
		-webkit-transform: translateY(-400px) rotate(-360deg) scale(0.3);
				transform: translateY(-400px) rotate(-360deg) scale(0.3);
		-webkit-filter: blur(25px);
				filter: blur(25px);
		opacity: 0.5;
	}
	100% {
	  -webkit-transform: translateY(0) rotate(0deg) scale(1);
			  transform: translateY(0) rotate(0deg) scale(1);
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }
  @keyframes roll-in-blurred-top {
	0% {
	  -webkit-transform: translateY(-800px) rotate(-720deg) scale(0.02);
			  transform: translateY(-800px) rotate(-720deg) scale(0.02);
	  -webkit-filter: blur(50px);
			  filter: blur(50px);
	  opacity: 0;
	}
	50% {
		-webkit-transform: translateY(-400px) rotate(-360deg) scale(0.3);
				transform: translateY(-400px) rotate(-360deg) scale(0.3);
		-webkit-filter: blur(25px);
				filter: blur(25px);
		opacity: 0.5;
	}

	100% {
	  -webkit-transform: translateY(0) rotate(0deg) scale(1);
			  transform: translateY(0) rotate(0deg) scale(1);
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }
  

  .scale-out-horizontal {
	-webkit-animation: scale-out-horizontal 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-horizontal 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.scale-out-horizontal-reverse {
	-webkit-animation: scale-out-horizontal 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both reverse;
	        animation: scale-out-horizontal 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both reverse;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-4 0:13:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-horizontal {
	0% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleX(0);
			  transform: scaleX(0);
	  opacity: 0;
	}
  }
  @keyframes scale-out-horizontal {
	0% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleX(0);
			  transform: scaleX(0);
	  opacity: 0;
	}
  }
  
  





  @keyframes move-to-target {
    from {
        transform: translate(0, 0) scale(1.0, 1.0) rotate(0deg);
    }
    to {
        transform: translate(var(--offset-x), var(--offset-y)) scale(var(--scaleX), var(--scaleY)) rotate(-360deg);
		border-radius: 0px;
		border-width: 0px;
		border-style: none;
    }
}

.move-to-target {
    animation: move-to-target 0.6s ease;
}




/* ----------------------------------------------
 * Generated by Animista on 2024-4-9 17:1:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 .fade-in-bck {
	-webkit-animation: fade-in-bck 0.6s linear both;
	        animation: fade-in-bck 0.6s linear both;
}
.rotate-in-center {
	-webkit-animation: rotate-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes fade-in-bck {
	0% {
	  -webkit-transform: translateZ(80px);
			  transform: translateZ(80px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  @keyframes fade-in-bck {
	0% {
	  -webkit-transform: translateZ(80px);
			  transform: translateZ(80px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  /* ----------------------------------------------
 * Generated by Animista on 2024-4-9 17:4:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-center {
	0% {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	  opacity: 1;
	}
  }
  @keyframes rotate-in-center {
	0% {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	  opacity: 1;
	}
  }
  
  