
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/chart.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        #chartDiv {
            width: 800px;
            height: 400px;
            border: solid 1px;
            padding: 1px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h2>Chartjs - Funkcja2</h2>
    <div id="chartDiv">
        <canvas id="lineChart" />
    </div>
    <script type="text/javascript">
        var xs = @Html.Raw(ViewBag.X);
        var ys = @Html.Raw(ViewBag.Y);
        var ctx = $("#lineChart");
        var barChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xs, datasets: [{
                    label: 'F2', data: ys, borderColor: 'rgb(54, 162, 235)',
                }
                ]
            },
            config: {
                responsive: true, plugins: {
                    legend: {
                        position: 'top',
                    }, title: {
                        display: true, text: 'Example of the line chart'
                    }
                }
            }
        });

    </script>
</body>
</html>


